	<!---header--->
  <header id="header" #header>
		<div class="bx bx-menu" id="menu-icon" #menu (click)="change()"></div>
    <div>
      <ul class="navbar" #navbar>
        <li><a dir="rtl" class="link getstarted" (click)="rem()" href="" [routerLink]="'home'">الرئيسية</a></li>
        <li><a dir="rtl" class="link"   href="" (click)="rem()"  [routerLink]="'about'">حول</a></li>
        <li><a dir="rtl" class="link"   href="" (click)="rem()"  [routerLink]="'menu'">منتجاتنا</a></li>
        <li><a dir="rtl" class="link"   href="" (click)="rem()"  [routerLink]="'Gallery'">معرض الصور</a></li>
        <li><a dir="rtl" class="link"   href="" (click)="rem()"  [routerLink]="'service'">خدماتنا</a></li>
        <li><a dir="rtl" class="link"   href="" (click)="rem()"  [routerLink]="'contact'">تواصل معنا</a></li>
      </ul>
    </div>
    <img class="xlogo" width="50" src="https://www4.0zz0.com/2023/03/16/13/937994225.png" alt="Error">
	</header>
