<h2   dir="rtl" class="about-us">التواصل معنا</h2>
<div class="content">
  <div class="left-side">
    <div class="address details">
      <i class="fas fa-map-marker-alt"></i>
      <div dir="rtl" class="topic">العنوان</div>
      <div class="text-one">دمشق , ميدان</div>
      <div class="text-two">شارع الحطاب بعد قسم شرطة الميدان</div>
    </div>
    <div class="phone details">
      <i class="fas fa-phone-alt"></i>
      <div class="topic">Phone</div>
      <div class="text-one">0118822631</div>
      <div class="text-two">+963 933 612 285</div>
    </div>
    <div class="email details">
      <i class="fab fa-facebook-square">

      </i>
      <div style="cursor:click;" class="topic">
        <a style="color: goldenrod;" href="https://www.facebook.com/AAJSweetsSY?mibextid=LQQJ4d">Facebook</a>
      </div>
      <div class="text-one"><a href="https://www.facebook.com/AAJSweetsSY?mibextid=LQQJ4d">زيارتنا على فيسبوك</a></div>
      <!-- <div class="text-two">info.codinglab@gmail.com</div> -->
    </div>
    <div class="email details">
      <i class="fab fa-instagram"></i>
      <div style="cursor:click;" class="topic">
        <a style="color: goldenrod;" href="https://www.instagram.com/AAJSweetsSY">Instagram</a>
      </div>
      <div class="text-one"><a href="https://www.instagram.com/AAJSweetsSY">زيارتنا على انستغرام</a></div>
      <!-- <div class="text-two">info.codinglab@gmail.com</div> -->
    </div>
  </div>
</div>>
