<div id="menu">
  <h2 dir="rtl" class="men">Menu</h2>
  <div class="allMen">
    <div class="card">
      <div style="position: relative;" class="box">
        <h3 class="tit" dir="rtl">المأكولات الشرقية</h3>
        <div class="cu" id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img width="200px" src="https://www14.0zz0.com/2023/03/15/15/671040999.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www11.0zz0.com/2023/03/15/16/703289832.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www14.0zz0.com/2023/03/15/15/469182805.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www11.0zz0.com/2023/03/15/15/800751350.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www2.0zz0.com/2023/03/15/15/551569253.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www7.0zz0.com/2023/03/15/15/451068352.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www11.0zz0.com/2023/03/15/16/911485221.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www8.0zz0.com/2023/03/15/16/244624686.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
        </div>
        <div class="allList">
          <ul dir="rtl">
            <li dir="rtl">شاكرية</li>
            <li dir="rtl">كوسا باللبن</li>
            <li dir="rtl">يبرق مع الشرحات</li>
            <li dir="rtl">كباب هندي</li>
            <li dir="rtl">باسمشكات</li>
            <li dir="rtl">داوود باشا</li>
          </ul>
          <ul class="ul2">
            <li dir="rtl">كبة لبنية</li>
            <li dir="rtl">شيش برك</li>
            <li dir="rtl">جدي بالزيت</li>
            <li dir="rtl">ملوخية بالموزات</li>
            <li dir="rtl">محاشي مشكلة</li>
            <li dir="rtl">سمك بأنواعه</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div style="position: relative;" class="box man">
        <h3 class="tit" dir="rtl">المناسف</h3>
        <div class="cu" id="carouselExampleIndicators2" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img width="200px" src="https://www12.0zz0.com/2023/03/15/16/680912518.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www12.0zz0.com/2023/03/15/16/235793819.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www12.0zz0.com/2023/03/15/16/147374067.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www12.0zz0.com/2023/03/15/16/636682940.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www12.0zz0.com/2023/03/15/16/183102895.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www3.0zz0.com/2023/03/15/16/209014951.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
        </div>
        <div class="ulForMan">
          <ul dir="rtl">
            <li dir="rtl">خاروف محشي</li>
            <li dir="rtl">رز بازلاء</li>
            <li dir="rtl">رز بالفول</li>
            <li dir="rtl">منسف فريكة</li>
            <li dir="rtl">منسف مقلوبة</li>
          </ul>
          <ul class="ul2">
            <li dir="rtl">منسف مغربية</li>
            <li dir="rtl">منسف كبسة</li>
            <li dir="rtl">أوزي مجلل</li>
            <li dir="rtl">مليحي أردني</li>
            <li dir="rtl">منسف مندي</li>
            <li dir="rtl">منسف صيادية</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div style="position: relative;" class="box">
        <h3 class="tit" dir="rtl">المقبلات الساخنة</h3>
        <div class="cu" id="carouselExampleIndicators3" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img width="200px" src="https://www7.0zz0.com/2023/03/15/16/586280631.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www7.0zz0.com/2023/03/15/16/414383522.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www7.0zz0.com/2023/03/15/16/342948670.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www8.0zz0.com/2023/03/15/16/665256881.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www8.0zz0.com/2023/03/15/16/868357430.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
        </div>
        <div class="allList">
          <ul dir="rtl">
            <li dir="rtl">برك بالجبنة</li>
            <li dir="rtl">برك باللحمة</li>
            <li dir="rtl">برك بالنخاعات</li>
            <li dir="rtl">برك بالسبانخ</li>
            <li dir="rtl">برك بالدجاج</li>
            <li dir="rtl">سجائر باللحمة</li>
            <li dir="rtl">سجائر بالدجاج</li>
            <li dir="rtl">سجائر بالجبنة</li>
          </ul>
          <ul class="ul2">
            <li dir="rtl">صفيحة مضفورة</li>
            <li dir="rtl">كبة حميص</li>
            <li dir="rtl">كبة مشوية</li>
            <li dir="rtl">كبة مبرومة</li>
            <li dir="rtl">كبة بالصينية</li>
            <li dir="rtl">نخاعات بانيه</li>
            <li dir="rtl">فطاير باللحمة</li>
            <li dir="rtl">فطاير بالجبنة</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div style="position: relative;" class="box">
        <h3 class="tit" dir="rtl">المقبلات الباردة</h3>
        <div class="cu" id="carouselExampleIndicators4" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img width="200px" src="https://www5.0zz0.com/2023/03/15/16/758943299.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www5.0zz0.com/2023/03/15/16/106103842.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www5.0zz0.com/2023/03/15/16/100860401.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
        </div>
        <div class="allList">
          <ul dir="rtl">
            <li dir="rtl">سلطات بأنواعها</li>
            <li dir="rtl">فتوش</li>
            <li dir="rtl">كبة نية</li>
            <li dir="rtl">زنود البنات</li>
            <li dir="rtl">يالنجي بأنواعه</li>
          </ul>
          <ul class="ul2">
            <li dir="rtl">حراء أصبعو</li>
            <li dir="rtl">مجدرة بالزيت</li>
            <li dir="rtl">فول مقلى</li>
            <li dir="rtl">فاصولياء بالزيت</li>
            <li dir="rtl">سبانخ بالزيت</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div style="position: relative;" class="box">
        <h3 class="tit" dir="rtl">حلويات عربية بالقشطة</h3>
        <div class="cu" id="carouselExampleIndicators5" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img width="200px" src="https://www4.0zz0.com/2023/03/15/16/348473308.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www10.0zz0.com/2023/03/15/16/849876734.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www12.0zz0.com/2023/03/15/16/434948467.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www8.0zz0.com/2023/03/15/16/670552067.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www8.0zz0.com/2023/03/15/16/288854621.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators5" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators5" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
        </div>
        <div class="allList">
          <ul dir="rtl">
            <li dir="rtl">نمورة</li>
            <li dir="rtl">مغشوشة</li>
            <li dir="rtl">وربات بالقشطة</li>
            <li dir="rtl">وردات بالقشطة</li>
            <li dir="rtl">غريبة بالقشطة</li>
            <li dir="rtl">كلاج بالقشطة</li>
            <li dir="rtl">مدلوقة بالقشطة</li>
            <li dir="rtl">بصمة بالقشطة</li>
          </ul>
          <ul class="ul2">
            <li dir="rtl">بصمة بالجبنة</li>
            <li dir="rtl">عصملية بالقشطة</li>
            <li dir="rtl">عصملية بالجبنة</li>
            <li dir="rtl">لبنية بالقشطة</li>
            <li dir="rtl">نهش بالقشطة</li>
            <li dir="rtl">قطايف بالجوز</li>
            <li dir="rtl">قطايف بالقشطة</li>
            <li dir="rtl">ليالي عمار</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div style="position: relative;" class="box">
        <h3 class="tit" dir="rtl">حلويات عربية بالمكسرات</h3>
        <div class="cu" id="carouselExampleIndicators6" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img width="200px" src="https://www8.0zz0.com/2023/03/15/16/105331206.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www8.0zz0.com/2023/03/15/16/414048094.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www8.0zz0.com/2023/03/15/16/261181533.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www10.0zz0.com/2023/03/15/16/263411022.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img  width="200px" src="https://www2.0zz0.com/2023/03/15/16/788885377.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators6" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators6" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
        </div>
        <div class="allList">
          <ul dir="rtl">
            <li dir="rtl">نواشف مشكلة</li>
            <li dir="rtl">مبرومة بالفستق</li>
            <li dir="rtl">بللورية بالفستق</li>
            <li dir="rtl">كول وشكور</li>
            <li dir="rtl">غريبة</li>
            <li dir="rtl">أصابع كاجو</li>
            <li dir="rtl">عش البلبل</li>
          </ul>
          <ul class="ul2">
            <li dir="rtl">معمول بالفستق</li>
            <li dir="rtl">معمول بالجوز</li>
            <li dir="rtl">وربات بالفستق</li>
            <li dir="rtl">بصمة بالفستق</li>
            <li dir="rtl">برازق</li>
            <li dir="rtl">عجوة</li>
            <li dir="rtl">مشكل بالفستق</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
