<h2 dir="rtl" class="tit1">مأكولات شرقية</h2>
<div class="cu" id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img width="200px" src="https://www7.0zz0.com/2023/03/20/18/970685812.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img width="200px" src="https://www7.0zz0.com/2023/03/20/18/485711203.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img width="200px" src="https://www7.0zz0.com/2023/03/20/18/194268560.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img width="200px" src="https://www6.0zz0.com/2023/03/20/18/327378898.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img width="200px" src="https://www6.0zz0.com/2023/03/20/18/102299071.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img width="200px" src="https://www6.0zz0.com/2023/03/20/18/940985689.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img width="200px" src="https://www11.0zz0.com/2023/03/20/18/681761012.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img width="200px" src="https://www11.0zz0.com/2023/03/20/18/646768923.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img width="200px" src="https://www12.0zz0.com/2023/03/20/18/978550956.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img width="200px" src="https://www12.0zz0.com/2023/03/20/18/748878225.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img width="200px" src="https://www12.0zz0.com/2023/03/20/18/230293061.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img width="200px" src="https://www14.0zz0.com/2023/03/15/15/671040999.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img  width="200px" src="https://www11.0zz0.com/2023/03/15/16/703289832.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img  width="200px" src="https://www14.0zz0.com/2023/03/15/15/469182805.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img  width="200px" src="https://www11.0zz0.com/2023/03/15/15/800751350.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img  width="200px" src="https://www2.0zz0.com/2023/03/15/15/551569253.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img  width="200px" src="https://www7.0zz0.com/2023/03/15/15/451068352.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img  width="200px" src="https://www11.0zz0.com/2023/03/15/16/911485221.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img  width="200px" src="https://www8.0zz0.com/2023/03/15/16/244624686.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- ------------------------------------------------------------------------ -->
<h2 dir="rtl" class="tit1">حلويات</h2>
<div class="cu" id="carouselExampleIndicators2" class="carousel cars2 slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img width="200px" src="https://www2.0zz0.com/2023/03/20/19/308407744.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img width="200px" src="https://www3.0zz0.com/2023/03/20/19/642263677.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img width="200px" src="https://www14.0zz0.com/2023/03/20/19/186655924.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img  width="200px" src="https://www10.0zz0.com/2023/03/15/16/849876734.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img  width="200px" src="https://www8.0zz0.com/2023/03/15/16/670552067.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img  width="200px" src="https://www8.0zz0.com/2023/03/15/16/288854621.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img  width="200px" src="https://www3.0zz0.com/2023/03/20/19/368590776.jpg" class="d-block w-100" alt="...">
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
