<section id="fourSection" @fade>
  <p class="orange">خدماتنا</p>
  <h1 dir="rtl" class="mainTitle">أشهى أنواع المأكولات والحلويات الشرقية</h1>
  <section class="allService">
    <div class="allcard2 card21">
      <img src="https://www4.0zz0.com/2023/03/13/08/619264788.png" alt="">
      <div class="txt2">
          <h1>Order</h1>
          <p>اطلب من منزلك ، ماعليك إلا الإتصال بأحد الأرقام الخاصة وسنكون بخدمتكم</p>
      </div>
    </div>

    <div class="allcard2 card22">
      <img src="https://www4.0zz0.com/2023/03/13/08/329099218.png" alt="">
      <div class="txt2">
          <h1>Shipping</h1>
          <p>من صالتنا الرئيسية بالميدان ولأي مكان منتجاتنا بتصل إليكم وبجودة عالية</p>
      </div>
    </div>

    <div class="allcard2 card23">
      <img src="https://www4.0zz0.com/2023/03/13/08/336450726.png" alt="">
      <div class="txt2">
          <h1>Delivery </h1>
          <p>من التاسعة صباحاً حتى العاشرة مساءاً مطبخنا بخدمتكم ولباب منازلكم</p>
      </div>
    </div>
  </section>
</section>
